<!doctype html>
<html lang="jp">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>confirm</title>
</head>
<body>
<div class="container">
    <div class="row header"></div>
    <div class="row ">
        <h1>confirm</h1>
        <a href="/entry">entry</a>

    </div>
    <div class="row footer"></div>

</div>

<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>

