<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="frag">
        <div id="modal1" class="modal">
            <div class="modal-content">
                <p>住所入力</p>
                <div class="row red-text modal-error-message"></div>
                <div class="row">
                    <div class="input-field col s2">
                        <input type="text" placeholder="半角数字" class="validate postCode-modal">
                    </div>
                    <div class="input-field col s2">
                        <a href="#" class="waves-effect waves-light btn modal-search">検索</a>
                    </div>
                </div>
                <p>検索結果</p>
                <div class="jusholist" ></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close waves-effect waves-green btn-flat">キャンセル</a>
            </div>
        </div>
    </div>
</html>