<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="jp">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>index</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <div class="row m6">
        <form class="col s8">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s8">
                        <input id="jitaku-postCode" type="text" placeholder="半角数字" class="validate">
                        <label for="jitaku-postCode">自宅郵便番号</label>
                    </div>
                    <div class="col s4">
                        <a href="#" id="jitaku-modal-trigger" class="waves-effect waves-light btn">検索</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="jitaku-jushoKanji" type="text" placeholder="全角漢字" class="validate">
                    <label for="jitaku-jushoKanji">自宅住所漢字（都道府県・市区町村・番地・建物名）</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="jitaku-jushoKana" type="text" placeholder="全角カナ" class="validate">
                    <label for="jitaku-jushoKana">自宅住所カナ（都道府県・市区町村・番地・建物名）</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s8">
                        <input id="office-postCode" type="text" placeholder="半角数字" class="validate">
                        <label for="office-postCode">勤務先郵便番号</label>
                    </div>
                    <div class="col s4">
                        <a href="#" id="office-modal-trigger" class="waves-effect waves-light btn">検索</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="office-jushoKanji" type="text" placeholder="全角漢字" class="validate">
                    <label for="office-jushoKanji">勤務先住所漢字（都道府県・市区町村・番地・建物名）</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="office-jushoKana" type="text" placeholder="全角カナ" class="validate">
                    <label for="office-jushoKana">勤務先住所カナ（都道府県・市区町村・番地・建物名）</label>
                </div>
            </div>
            <a href="confirm" class="waves-effect waves-light btn">確認</a>
        </form>
    </div>
</div>

<footer class="page-footer">
    <div>
        <div class="container">
            © 2022 Copyright Text
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<div id="jitaku-jushomodal" th:insert="jusho::frag('#jitaku-modal-trigger','#jitaku-postCode', '#jitaku-jushoKanji', '#jitaku-jushoKana')"></div>
<div id="office-jushomodal" th:insert="jusho::frag('#office-modal-trigger','#office-postCode', '#office-jushoKanji', '#office-jushoKana')"></div>
</body>
</html>