<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="jp">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>index</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <div class="row m6">
        <form class="col s8">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s8">
                        <input id="jitaku-post-code" type="text" placeholder="半角数字" class="validate">
                        <label for="jitaku-post-code">自宅郵便番号</label>
                    </div>
                    <div class="col s4">
                        <a href="#" class="waves-effect waves-light btn jusho-trigger"
                           data-insert-id="jitaku-jusho-insert"
                           data-post-code-id="jitaku-post-code"
                           data-jusho-kanji-id="jitaku-jusho-kanji"
                           data-jusho-kana-id="jitaku-jusho-kana">検索</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="jitaku-jusho-kanji" type="text" placeholder="全角漢字" class="validate">
                    <label for="jitaku-jusho-kanji">自宅住所漢字（都道府県・市区町村・番地・建物名）</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="jitaku-jusho-kana" type="text" placeholder="全角カナ" class="validate">
                    <label for="jitaku-jusho-kana">自宅住所カナ（都道府県・市区町村・番地・建物名）</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s8">
                        <input id="office-post-code" type="text" placeholder="半角数字" class="validate">
                        <label for="office-post-code">勤務先郵便番号</label>
                    </div>
                    <div class="col s4">
                        <a href="#" class="waves-effect waves-light btn jusho-trigger"
                           data-insert-id="office-jusho-insert"
                           data-post-code-id="office-post-code"
                           data-jusho-kanji-id="office-jusho-kanji"
                           data-jusho-kana-id="office-jusho-kana">検索</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="office-jusho-kanji" type="text" placeholder="全角漢字" class="validate">
                    <label for="office-jusho-kanji">勤務先住所漢字（都道府県・市区町村・番地・建物名）</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="office-jusho-kana" type="text" placeholder="全角カナ" class="validate">
                    <label for="office-jusho-kana">勤務先住所カナ（都道府県・市区町村・番地・建物名）</label>
                </div>
            </div>
            <a href="confirm" class="waves-effect waves-light btn">確認</a>
        </form>
    </div>
</div>

<footer class="page-footer">
    <div>
        <div class="container">
            © 2022 Copyright Text
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<div id="jitaku-jusho-insert" th:insert="jusho"></div>
<div id="office-jusho-insert" th:insert="jusho"></div>
<script type="text/javascript" src="/js/jusho.js"></script>
</body>
</html>